.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
.name,.steps{
  display: block;
}

input {
  font: inherit;
}
[type='text'] {
  width: 20ch;
  line-height: 1.1;
}
[type='button'] {
  width: 2.5ch;
  height: 2.7ex;
}

@media screen and (max-width: 1393px) {
    html{
        font-size: 20px;
    }
}
