<!DOCTYPE html>
<html>
    <head>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
       <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
       <title>Foodies Cookbook</title>
    </head>
 
    <body>
        <header>
            <nav>
                <div class="nav-wrapper blue-grey">
                    <a href="{{url_for('recipe_list')}}" class="brand-logo">Foodie's Cookbook</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('recipe_list')}}">Recipe Index</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('recipe_list')}}">Recipe Index</a></li>
                        <li><a href="{{url_for('add_recipe')}}">Add recipe</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.collapsible').collapsible();
                $(".button-collapse").sideNav();
             });    

        </script>
        <script>
            function addInput(category) {
                 if (category == 'steps') {
                    console.log(category)
                    const method = document.querySelector('#steps');
                    console.log("method"+method)
                    const input = document.createElement('input');
                    input.className = 'input';
                    input.type = 'text';
                    input.name = `step`
                    method.appendChild(input);
                    console.log(method)
                    console.log(length)
                    console.log(input)
                }else{
                    console.log(category)
                    const ingredients = document.querySelector('#ingredients');
                    const input = document.createElement('input');
                    input.className = 'input';
                    input.type = 'text';
                    input.name = `ingredient`
                    ingredients.appendChild(input);
                    console.log(ingredients)
                    console.log(length)
                    console.log(input)
                }
            }
            function removeInput(category) {
                if (category == 'steps') {
                    const method = document.querySelector('#steps');
                    method.removeChild(steps.lastElementChild);
                }
                else{
                console.log(category)
                const ingredients = document.querySelector('#ingredients');
                 ingredients.removeChild(ingredients.lastElementChild);
                } 
            }

            function eventListeners() {
                    if ((window.location.href.includes('add_recipe')) || (window.location.href.includes('edit_recipe'))) {
                    document.querySelector('#add-ingredient').onclick = () => addInput('ingredient');
                    document.querySelector('#remove-ingredient').onclick = () => removeInput('ingredient');
                    document.querySelector('#add-step').onclick = () => addInput('steps');
                    document.querySelector('#remove-step').onclick = () => removeInput('steps');
                }
            }   
            eventListeners();
        </script>
           
    
    </body>
</html>