{% extends 'base.html' %}
{% block content %}
        <div class="image-home"> 
        <h2>Welcome to CookBook</h2>
        <img src="../static/image/img1.jpg" alt="sorry!">
            <div class="row">
                <div class="l12 m12 s12" style="clear:both">
                    <div class="card" style="width:300px;display:inline-block">
                        <div class="card-image">
                            <img src="../static/image/img2.jpg">
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('search_recipe')}}">Search a Recipe</a>
                        </div>
                    </div>  
                </div>
                <div class="l12 m12 s12" style="clear:both">      
                    <div class="card" style="width:300px;display:inline-block">
                        <div class="card-image">
                            <img src="../static/image/img4.jpg">
                        </div>
                        <div class="card-action">
                            <a href="{{url_for('add_recipe')}}">Add a Recipe</a>
                        </div>
                    </div>    
                </div>
            </div>    

           
  </div>
          
{% endblock %}    


    
































