{% extends 'base.html' %} {% block content %}

<div class="row center-align">
    
    <!--ERROR MESSAGE-->
    <h1 class="page-title">500</h1>
    
    <div class="row recipe-card card center-align z-depth-1">
        <h3 class="card-title">
             <i class="material-icons">error</i>
            <br>
            Oops...
        </h3>
        <h6 class="helper">Error Occured! </h6>
        <p class="helper italic">click home on the Navbar to go to homepage</p>
    </div>




{% endblock %}