{% extends 'base.html' %}
{% block content %}

<h3>Search the recipes here</h3>
<div class="container search-form">
  <div class="row input-field search-div">
    <h6>Select one of the options to search for your favourite recipes</h6>
    <form class="search-form-form" action="/get_recipes">
        <div class="row">
            <div class="form-field-div col s6 m4">
                <p>search by recipe_name:</p>
                <input type="text" name="recipe_name" value="">
            </div> 
             
            <div class="form-field-div col s6 m4">
                <p>search by ingredients:</p>
                <input type="text" name="ingredients" value="">
            </div>

            <div class="form-field-div col s6 m4">
                <p>search by Cuisine:</p>
                <input type="text" name="cuisine" value="">
            </div>
            <div class="form-field-div col s6 m4">
                <p>search by type:</p>
                <input type="text" name="type" value="">
            </div>
            
        </div>
        <div class="row">
            <div class="col s6 l4">
                <input class="btn btn-search" type="submit" value="Search">
            </div>
        </div>
    </form>
    
  </div>
</div>




{% endblock %} 