{% extends 'base.html' %} {% block content %}
<h3>View Recipe</h3>
<div class="row">
    <form action="{{ url_for('view_recipe', recipe_id=item._id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" name="title" class="validate" value="{{item.title}}">
                <label for="title">Recipe Title</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">local_dining</i>
                <input id="cuisine_name" name="cuisine_name" type="text" class="validate" value="{{item.cuisine_name}}">
                <label for="cuisine_name">Cuisine Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">room_service</i>
                <input id="type_name" type="text" name="type_name" class="validate" value="{{item.type_name}}">
                <label for="type_name">Type</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input id="description" name="description" type="text" value="{{item.description}}" >
                <label for="description">Recipe Description</label>
            </div>
            <div id="ingredients" class="input-field col s6">
                <i class="material-icons prefix">shopping_basket</i>
                <label for="ingredients">Ingredients</label>
                {% for i in item.ingredients %}
                    <input class="input" type="text" value="{{i}}">
                {% endfor %}  

            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">Method</i>
                {% for j in item.step %}
                    <input class="input" type="text" name="step" value="{{j}}">
                {% endfor %}  
                <label for="method">Method</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">image</i>
                <input id="image" type="text" name="image" class="file-path validate" value="{{item.image}}">
                <label for="image">Image</label>
            </div>
        </div>
        <a href="{{url_for('recipe_list')}}" class="waves-effect waves-light btn btn_small blue">Back to Recipe list</a>
        
    </form>
</div>
{% endblock %}