{% extends 'base.html' %}
{% block content %}

        {% for item in recipe %}
            <ul>
                <h5>Recipe Title: {{item.title}}</h5>
                <h5>Description: {{item.description}} </h5>
                <h5>Cuisine: {{item.cuisine_name}}</h5>
                <h5>Type: {{item.type_name}}</h5>
                <h5>Ingredients</h5>
                <ol>
                    {% for i in item.ingredients %}
                        
                            <li> {{i}}</li>
                      
                    {% endfor %}
                 </ol>    
                    <h5>Method</h5>
                    <ol>
                        {% for j in item.method %}
                            <li> {{j}}</li>
                        {% endfor %}
                    </ol>
            </ul>
        {% endfor %}
    
{% endblock %}